
#navbar {
    background-color: #0d3d3d;
  }
  
  .introdiv {
    background-color: #74b9b4;
    text-align: center;
  }
  
  div.introdiv h1, div.introdiv h2 {
    text-align: center;
    font-family: "Sigmar One", cursive;
    line-height: 1;
    color: #c3ddda;
  }
  
  div.introdiv h1 {
    font-size: 100px;
    margin-top: 5%;
  }
  
  .myName {
    margin-right: 5%;
  }

  .jumbotron{
    background-color: #c3ddda;
    padding: 3rem;
  }
  
  div.jumbotron h2{
    color: #74B8B4;
    text-align: center;
    font-size: 25px;
  }
 
  